* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #8d99ae;
  color: #2b2d42;
  margin: 8px;
}

div#root {
  display: grid;
  grid-template-columns: 1fr 1.3fr;
  gap: 8px;
}

form.inputForm,
section.CV {
  border: 2px solid #2b2d42;
  border-radius: 8px;
}

/* Form */
form.inputForm {
  background-color: #edf2f4;
  padding: 24px 10px;

  display: flex;
  flex-direction: column;
  gap: 24px;
}

form button {
  background-color: #d80032;
  color: #edf2f4;
  border: 1px solid #2b2d42;
  border-radius: 3px;
  position: relative;
  width: 150px;
  top: 1px;
}

form button:hover {
  filter: brightness(90%);
}

form button:active {
  filter: brightness(65%);
}

fieldset {
  border: none;
}

fieldset input {
  color: inherit;
  font-family: inherit;
}

div.education button {
  height: fit-content;
}

fieldset#educationInfo input {
  margin: 0 2px 8px 0;
}

div.employment {
  margin-bottom: 8px;

  display: grid;
  grid-template: 1fr 3fr / 1fr 1fr 1fr 1fr;
  gap: 2px;
}

div.employment textarea {
  resize: none;
  font-family: inherit;
  grid-area: 2 / 1 / 2 / 5;
}

/* CV */
section.CV {
  background-color: #edf2f4;
  min-height: 95vh;
}

div.personalInfo {
  color: #edf2f4;
  background-color: #ef233c;
  text-align: center;
  padding: 25px;
  border-radius: 6px 6px 0 0;
}

div.personalInfo h1 {
  font-size: 32px;
}

div.educationInfo,
div.experienceInfo {
  margin: 24px 16px;
}

div.educationItem,
div.employmentItem {
  margin-bottom: 12px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

div.educationItem h2,
div.employmentItem h2 {
  font-size: 20px;
}

div.educationItem h2 + p,
div.employmentItem h2 + p {
  text-align: right;
}

div.employmentItem p:last-child {
  grid-area: 2 / 1 / 2 / 3;
}

@media (max-width: 1100px) {
  div#root {
    display: flex;
    flex-direction: column;
  }

  fieldset#personalInfo,
  fieldset#educationInfo div.education,
  fieldset#employmentInfo div.employment {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 2px;
  }

  fieldset#employmentInfo div.employment {
    grid-template-rows: 1fr;
  }

  div.employment textarea {
    grid-area: 5 / 1 / 5 / 1;
  }

  fieldset#educationInfo div.education {
    margin-bottom: 18px;
  }

  fieldset#educationInfo input {
    margin: 0;
  }
}
